body{
    margin: 0%;
}
.navbar{
    background-color:black;
    text-align: center;
    color: cornsilk;
    padding:70px ;
    width: 89.5%;
    height: 30%;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    
}
.m{
    text-align: center;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.end{
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightblue;
    height:150px;
    padding-top: 50px;
}
.todo{
    color: saddlebrown;;
    font-size:50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0%;
    margin: 20%; 
    text-align: left;
    background-color: rgb(246, 242, 231);
    padding: 50px;
    box-shadow: 0,1px,1px turquoise;
    border: 2px solid wheat;

}
